#containvide{
    height: 100px;
}

.premier-content-apropos{
    width: 80%;
    margin: 0 10%;
    height: 500px;
    background-color: #ffffff;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0 10px 40px #94b0ff;
}

.photoprofil{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 40px auto;
}

.ligne-apres-photo {
    border: none;
    border-top: 2px solid #6c6c6c; /* Couleur de la ligne */
    width: 20%; /* Ajuste la largeur de la ligne */
    margin: 0 auto 40px; /* Centrage de la ligne avec une marge */
    position: relative;
}

h1{
    color: #303030;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
    margin-top: 0;
}

.p-presentation{
    color: gray;
    font-size: medium;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 85%;
    height: auto;
    margin: 0 auto 0;
    font-family: "Roboto", sans-serif;
}

.presentation-contenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    margin-left: 25%;
}

.telecharger-mon-cv {
    align-self: flex-end; /* Aligne à droite */
    margin-top: -105px;
    margin-right: 13%; /* Ajuste cette valeur pour placer au centre verticalement */
    cursor: pointer;
    font-size: x-large;
    border: 1px solid #94b0ff;
    border-radius: 10px;
    box-shadow: #94b0ff;
    padding: 15px;
    background-color: #94b0ff17;
    gap: 8px;
}

.telecharger-mon-cv:hover{
    background-color: #94b0ff62;
}

.couleurtelechargermoncv{
    color: #303030; /* Ajuste selon le style que tu veux */
}

.deuxieme-content-apropos{
    width: 80%;
    margin: 100px 10%;
    height: 500px;
    background-color: #ffffff;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0 10px 40px #94b0ff;
}

.page-content {
    position: relative;
    z-index: 1;
    min-height: 200vh; /* ou ajuste cette valeur pour la rendre défilable */
}