/* Style pour les grands écrans (ordinateurs) */
body {
    font-size: 18px;
}

/* Style pour les tablettes */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    footer {
        font-size: 16px;
    }
}

/* Style pour les téléphones */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
    footer {
        font-size: 14px;
    }
}

#containvide{
    height: 100px;
}

.page-content { /* class qui fixe le fond derrière */
    position: relative;
    z-index: 1;
    min-height: 100vh; /* ou ajuste cette valeur pour la rendre défilable */
}

/* ---------------------------------------1 ème PARTIE------------------------------------------------ */

.premier-content-apropos{/* premier rectangle blanc */
    width: 80%;
    margin: 0 10%;
    height: 620px; /* réglage hauteur */
    background-color: #ffffff;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0 10px 40px #94b0ff;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
    height: 430px;
    margin: 0 auto 0;
    font-family: "Roboto", sans-serif;
}

.photoprofil{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 40px auto;
}

.ligne-apres-photo {
    border: none;
    border-top: 2px solid #6c6c6c; /* Couleur de la ligne */
    width: 20%; /* Ajuste la largeur de la ligne */
    margin: 0 auto 20px; /* Centrage de la ligne avec une marge */
    position: relative;
}

.presentation-contenus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 75%;
}

h1{
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 2rem;
}

.p-presentation{
    color: gray;
    font-size: medium;
}

.telecharger-mon-cv {
    align-self: flex-end; /* Aligne à droite */
    margin-top: -145px;
    margin-right: 0; /* Ajuste cette valeur pour placer au centre verticalement */
    font-size: large;
    border: 1px solid #94b0ff;
    border-radius: 10px;
    padding: 8px;
    background-color: #94b0ff17;
}
.telecharger-mon-cv:hover{
    background-color: #94b0ff62;
}
.telecharger-mon-cv a{
    text-decoration: none;
}

.couleurtelechargermoncv{
    color: #303030; /* Ajuste selon le style que tu veux */
}

.certifications {
    align-self: flex-end; /* Aligne à droite */
    margin-top: 30px;
    margin-right: 0; /* Ajuste cette valeur pour placer au centre verticalement */
    font-size: large;
    border: 1px solid #94b0ff;
    border-radius: 10px;
    padding: 8px;
    background-color: #94b0ff17;
}
.certifications:hover{
    background-color: #94b0ff62;
}
.certifications a{
    text-decoration: none;
}

.couleurtelechargermoncv{
    color: #303030; /* Ajuste selon le style que tu veux */
}

.tableau_de_synthèse {
    align-self: flex-end; /* Aligne à droite */
    margin-top: 30px;
    margin-right: 0; /* Ajuste cette valeur pour placer au centre verticalement */
    font-size: large;
    border: 1px solid #94b0ff;
    border-radius: 10px;
    padding: 8px;
    background-color: #94b0ff17;
}
.tableau_de_synthèse:hover{
    background-color: #94b0ff62;
}
.tableau_de_synthèse a{
    text-decoration: none;
}

.couleurtelechargermoncv{
    color: #303030; /* Ajuste selon le style que tu veux */
}

/*............................................................*/

.competencesacquises{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
    height: auto;
    margin: 0 auto 0;
    font-family: "Roboto", sans-serif;
}

.competencesacquises-contenus{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 75%;
}

.h2-competencesacquises{
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
    font-size: 1.9rem;
}

.bandeau-logos {
    width: 100%; /* Largeur de la zone visible */
    overflow: hidden; /* Cache les images en dehors de la vue */
    box-sizing: border-box;
    margin: 0; 
}

.logos {
    display: flex; /* Les images seront affichées en ligne */
    gap: 100px; /* Espace entre les logos */
    animation: defilement 20s linear infinite;  /* Animation pour défiler */

}

.logos img {
    width: 80px; /* Ajuste la taille de chaque logo */
    height: auto; /* Garde les proportions */
}

@keyframes defilement {
    0% {
        transform: translateX(0); /* Position de départ */
    }
    100% {
        transform: translateX(-147%); /* Défile jusqu'à la moitié pour donner l'impression de continuité */
    }
}

/* -------------------------------------FOOTER-------------------------------------------------- */

footer{
    width: 100%; /* réglage de la largeur du footer */
    margin:66px 0; /* réglage de la position du footer */
    height: 21%; /* réglage hauteur footer */
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0 10px 40px #94b0ff;
}

.footer-contenu{
    display: flex;
    justify-content:center;
}

.footer-informations{
    margin-right: 15%;
}

.footer-nav-logosite{
    width: 50px;
    height: 50px;
    margin-top: 2rem;
    margin-bottom: 0.7rem;
}

.liste-footer-logo{
    list-style-type: none;
}
.liste-footer-logo a{
    color: #303030;
    text-decoration: none;  
    font-size: 1rem;
}
.liste-footer-logo a:hover {
    color: #A0C4FF;
}
.liste-footer-logo li {
    margin-bottom: 0.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.liste-footer-contact{
    list-style-type: none;
}
.liste-footer-contact li {
    margin-bottom: 0.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 1rem;
}
.liste-footer-contact a i {
    color: #303030;
}
.liste-footer-contact a:hover i {
    color: #A0C4FF;
}
.liste-footer-contact a {
    color: #303030;
    text-decoration: none;  
    font-size: 1rem;
}
.liste-footer-contact a:hover {
    color: #A0C4FF;
}

.footer-div{
    margin-top: 2rem;
}

.p-footer{
    color: black;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}