#containvide{
    height: 100px;
}

.premiercontent-apropos{
    width: 90%;
    margin: 0 5%;
    height: 800px;
    background-color: #ffffff;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0 10px 40px #94b0ff;
}
