#containvide{
    height: 100px;
}

.premier-content-apropos{
    width: 80%;
    margin: 0 10%;
    height: 500px;
    background-color: #ffffff;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0 10px 40px #94b0ff;
}

.page-content {
    position: relative;
    z-index: 1;
    min-height: 200vh; /* ou ajuste cette valeur pour la rendre défilable */
}